{%- comment -%}
  Product grid for related / fallback recommendations.
  @param products {Array} list of products to render
  @param rp_products_to_show {number} max products (default 4)
  @param rp_columns_desktop, rp_columns_mobile, rp_image_ratio, rp_image_shape
  @param rp_show_secondary_image, rp_show_vendor, rp_show_rating
{%- endcomment -%}
{%- liquid
  assign rp_grid_limit = rp_products_to_show | default: 4
-%}
<ul
  class="grid product-grid grid--{{ rp_columns_desktop }}-col-desktop grid--{{ rp_columns_mobile }}-col-tablet-down"
  role="list"
>
  {%- assign skip_card_product_styles = false -%}
  {%- for card_product in products limit: rp_grid_limit -%}
    <li class="grid__item">
      {% render 'card-product',
        card_product: card_product,
        media_aspect_ratio: rp_image_ratio,
        image_shape: rp_image_shape,
        show_secondary_image: rp_show_secondary_image,
        show_vendor: rp_show_vendor,
        show_rating: rp_show_rating,
        skip_styles: skip_card_product_styles
      %}
    </li>
    {%- assign skip_card_product_styles = true -%}
  {%- endfor -%}
</ul>
